*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vmin;
}

.hideItem{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    padding: 0 10% 0 10%;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    height: 85px;
    background-color: rgb(255, 255, 255)
}

.headerLogoAera{
    width: 15%;
    height: fit-content;
}

.headerLogo{
    margin: 15px 5px 5px 5px;
    width: 100px;
    height: 70px;
    background-image: url(./assets/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.topMenu{
    width: 85%;
    padding: 28px 5px 0px 0px;
    text-align: right;
    display: inline;
    font-family: Cursive, Helvetica, sans-serif;
    font-size: 24px;
    transition: 0.5s;
}

li{
    display: inline;
    padding: 5px 10px 5px 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

li:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgba(99, 99, 99, 0.616);
    transition: 0.5s;
}

.liActive{
    color: rgba(99, 99, 99, 0.616);
    transition: 0.5s;
}

.slider{
    width: 100%;
    height: 95vmin;
    display: flex;
    flex-direction: row;
}

.sliderButtonPrevious{
    width: 5%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 10px;
}

.leftArrowSlider{
    cursor: pointer;
    width: 40px;
    height: 50px;
    transition: 0.5s;
}

.leftArrowSlider:hover{
    fill: rgba(99, 99, 99, 0.616);
    transition: 0.5s;
}

.sliderTextArea{
    width: 90%;
    padding: 0px 20px 0px 20px;
}

.sliderButtonNext{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 10px;
    width: 5%;
}

.rightArrowSlider{
    cursor: pointer;
    width: 40px;
    height: 50px;
    transition: 0.5s;
}

.rightArrowSlider:hover{
    fill: rgba(99, 99, 99, 0.616);
    transition: 0.5s;
}

/* Slide1 - "O mnie" */
.sliderBackground1{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(160, 142, 142);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.645) 100%),
    url(./assets/laptopPendrive.jpg);
    /* background-attachment: fixed; */
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slide2 - "Sprzęt" */
.sliderBackground2{
    padding: 0;
    transition: padding-right 5s;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(160, 142, 142);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.645) 100%),
    url(./assets/laptopFix.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slide3 - "Sieci" */
.sliderBackground3{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(160, 142, 142);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.645) 100%),
    url(./assets/networkFix.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slide4 - "Usługi" */
.sliderBackground4{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(160, 142, 142);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.645) 100%),
    url(./assets/pcFix.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slide5 - "Kontakt" */
.sliderBackground5{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(160, 142, 142);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.645) 100%),
    url(./assets/laptop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 5vmin;
    max-height: fit-content;
    font-family: Cursive, Helvetica, sans-serif;
    font-size: 14px;
    /* text-align: center; */
    text-decoration: none;
}



@media screen and (max-width: 767px){

    header{
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .headerLogoAera{
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
    }

    .headerLogo{
        margin: 0;
        padding: 0;
        width: 100px;
        background-image: url(./assets/logo.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .topMenu{
        margin: 0;
        padding: 0;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 16px;
    }

}